body {
    background-color: rgba(0, 0, 0, 0.979);
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* body > * {
    border: 1px solid red;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    gap: 20px;
}

/* TOP CONTAINER */
.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5em;
    /* border: 1px solid red; */
}

.topBtn {
    font-family: 'Poiret One';
    font-size: 16px;
    letter-spacing: 2px;
    height: 50px;
    width: 100px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-weight: 900;
    transition: 150ms;
}

.dropdown-menu.active > .topBtn, .topBtn:hover, .sort-menu > div:hover {
    background-color: #00FFFF;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#sortSelBtn {
    width: 200px;
}

.dropdown-menu {
    position: relative;
}

.sort-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: absolute;
    width: 198px;
    text-align: center;
    top: calc(100% + .25rem);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 50ms ease-in-out, transform 50ms ease-in-out;
    pointer-events: none;
    border: 1px solid #00FFFF;
}

.sort-menu > div {
    font-family: 'Poiret One';
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    height: 2em;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
}

.dropdown-menu.active > #sortSelBtn + .sort-menu {
    opacity:1;
    transform: translateY(0);
    pointer-events: auto;
}

.settings-list > li {
    display: inline-block; 
    list-style: none;
    min-width: none;
    margin: 0;
    gap: 10px;
}





/* SETTINGS */
.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.visualizer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    /* border: 1px solid red; */
    gap: 10px;
}

/* BAR CONTAINER */
.box {
    display: flex;
    width: 100%;
    height: 50em;
    position: relative;
    bottom: 0;
    pointer-events: none;
}




/* BARS */
.element {
    background: linear-gradient(#00FFFF 0%, rgb(0, 0, 0) 100%);
    /* border: 1px solid white; */
    color: white;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    padding: 0 2px 0 0;
}



/* SORT ANIMATION COLORS */
.element-red {
    background: red;
}

.element-blue {
    background: rgb(255, 255, 255);
}

.element-green {
    background: green;
}


/* FOOTER */

.footer {
    /* border: 1px solid red; */
    color: rgb(255, 255, 255);
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}


.footer a {
    color:rgb(255, 255, 255);
    transition: transform 0.2s;
}

.footer a:hover {
   transform: scale(1.2);
}