body {
    background-color: rgba(0, 0, 0, 0.979);
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* body > * {
    border: 1px solid red;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    gap: 20px;
}

/* TOP CONTAINER */
.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4em;
    /* border: 1px solid red; */
}

.topBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topBtn {
    font-family: 'Poiret One';
    font-size: 16px;
    letter-spacing: 2px;
    height: 50px;
    width: 100px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-weight: 900;
    transition: 150ms;
}

.dropdown-menu.active > .topBtn, .topBtn:hover, .sort-menu > div:hover {
    background-color: #00FFFF;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#sortSelBtn {
    width: 200px;
}

.error {
    background-color: rgb(146, 2, 2);
}

.dropdown-menu {
    position: relative;
}

.sort-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: absolute;
    width: 198px;
    text-align: center;
    top: calc(100% + .25rem);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 50ms ease-in-out, transform 50ms ease-in-out;
    pointer-events: none;
    border: 1px solid #00FFFF;
    z-index: 100;
    background-color: black;
}

.sort-menu > div {
    font-family: 'Poiret One';
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    height: 2em;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: 75ms;
    /* border: 1px solid white; */
}

.dropdown-menu.active > #sortSelBtn + .sort-menu {
    opacity:1;
    transform: translateY(0);
    pointer-events: auto;
}


/* SETTINGS */
.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.settings-list > li {
    display: inline-block; 
    list-style: none;
    min-width: none;
    margin: 0;
    gap: 10px;
}

/* SLIDER */

.slidecontainer {
    width: 25%; /* Width of the outside container */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border: 1px solid #00FFFF; */
  }

.slidecontainer > p {
    font-family: 'Poiret One';
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #00FFFF; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }


.visualizer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    /* border: 1px solid red; */
    gap: 10px;
}

/* BAR CONTAINER */
.box {
    display: flex;
    width: 100%;
    height: 50em;
    min-height: 25em;
    position: relative;
    bottom: 0;
    pointer-events: none;
}




/* BARS */
.element {
    background: linear-gradient(#00FFFF 0%, rgb(0, 0, 0) 100%);
    /* border: 1px solid white; */
    color: white;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    padding: 0 2px 0 0;
}



/* SORT ANIMATION COLORS */
.element-red {
    background: red;
}

.element-blue {
    background: rgb(255, 255, 255);
}

.element-green {
    background: green;
}


/* FOOTER */

footer {
    /* border: 1px solid red; */
    font-family: 'Poiret One';
    color: rgb(255, 255, 255);
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    gap: 5px;
}


footer a {
    color:rgb(255, 255, 255);
    transition: transform 0.2s;
}

footer a:hover {
   transform: scale(1.2);
}